body{
    font-family: 'Poppins', sans-serif;
}

@media (min-width:768px){
    .menor{
            display:none;
    }
    .mayor{
            display:block; 
    }
}
@media (max-width:768px){
    .menor{
            display:block;
    }
    .mayor{
            display:none;
    }
}
@media screen and (max-width: 800px) and (min-width: 0px) {
    .not_priority {
        display:none;
    }
}
@media screen and (min-width: 801px) {
    .aux {
        display:none;
    }
}

::-webkit-scrollbar {
    display: none;
}


.centrado-vertical{
    border: none;
    align-items: center;
    display: flex;
}
.centrado-total {
    border: none;
    align-items: center;
    justify-content: center;
}
.justificar {
    text-align: justify;
}
.centrar {
    text-align: center;
}
.a-la-derecha {
    text-align: right;
    justify-content: right;
}


.icon{
    font-size:32px;
    color: #fff;
}

.bg-index{
    background-color: #f3f3f3;
}
.bg-marino{
    background-color: #22284f;
}
.bg-celeste{
    background-color: #00adcb;
}
.bg-rojo{
    background-color: #e61f4d;
}
.bg-gris{
    background-color: #7e8384;
}
.bg-marino-rgba{
    background-color: rgba(34, 40, 79, 0.7);
}
.bg-celeste-rgba{
    background-color: rgba(0, 173, 203  , 0.3);
}
.bg-rojo-rgba{
    background-color: rgba(230, 31, 77, 0.7);
}
.bg-gris-rgba{
    background-color: rgba(126, 131, 132, 0.7);
}



.blackout{
    position: relative;
}

.blackout::before{
    content: '';
    background-color: rgba(0,0,0,.5);
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;  
}

.sobreponer{
    position:absolute;
    z-index: 10;
}
.centrado-absoluto{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.flotante{
    position: fixed;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 2vw;
    width: 2vw;
    outline: black;
    background-color: rgba(0, 0, 0, 0);
    background-size: 100%, 100%;
    border-radius: 0;
    border: 0px solid black;
    filter: invert(0%) opacity(100%);
    fill:rgba(34, 40, 79, 0.7);
}


.df1 {
    background: #292f32;
    color: #fff;
}
.df2 {
    background: #434547;
    color: #fff;
}
.df3 {
    background: #ff9000;
    color: #fff;
}

.marino{
    color: #22284f;
}
.celeste{
    color: #00adcb;
}
.rojo{
    color: #e61f4d;
}
.gris{
    color: #7e8384;
}
.blanco{
    color: #fff;
}


.link-blanco{
    color: #ffffff;
}
.link-blanco:hover{
    color: #00adcb;
}


.titulo7{
    font-size: 0.7rem;
}
.titulo{
    font-size: 1.1rem;
}
.titulo5{
    font-size: 1.25rem;
}
.titulo4{
    font-size: 1.5rem;
}
.titulo3{
    font-size: 1.75rem;
}
.titulo2{
    font-size: 2rem;
}
.titulo{
    font-size: 2.5rem;
}


.redondeado{
    border-radius: 100vh;
}
.redondeado_con_borde{
    border-radius: 100vh;
    border: solid;
    color: #7e8384;
}

.zoom {
    transition: transform .3s;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.1);
    z-index: 100;   
}
#cut {
    overflow: hidden;
}


.color_actual{
    fill: currentColor;
}